NodeRED-flows.json
[{"id":"ee2a40c5.e238a","type":"tab","label":"Sprinkler","disabled":false,"info":""},{"id":"eb2eb11a.00043","type":"tab","label":"Remotes","disabled":false,"info":""},{"id":"9f936973.8aff48","type":"ui_group","z":"","name":"Sprinklers","tab":"b0c8da05.5c62d8","disp":true,"width":"6"},{"id":"b0c8da05.5c62d8","type":"ui_tab","z":"","name":"Lawn Water","icon":"dashboard"},{"id":"d20c9e2e.4d0d68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c76dace2.e357","type":"ui_tab","z":"","name":"Remotes","icon":"dashboard"},{"id":"bba53862.7e67f","type":"ui_group","z":"","name":"Garage","tab":"c76dace2.e357","disp":true,"width":"6","collapse":false},{"id":"56f5370d.f7eb3","type":"ui_group","z":"","name":"Gate","tab":"c76dace2.e357","disp":true,"width":"6","collapse":false},{"id":"93eaf66c.c40c28","type":"mqtt-broker","z":"","name":"Ignition","broker":"kbv-ignition","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96c5cd27.71da3","type":"mosca in","z":"ee2a40c5.e238a","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"nodered","password":"nodered","dburl":"","x":110,"y":40,"wires":[["c026a5a.515c058"]]},{"id":"acda9cc5.90718","type":"mqtt out","z":"ee2a40c5.e238a","name":"MQTT","topic":"","qos":"0","retain":"false","broker":"93eaf66c.c40c28","x":890,"y":240,"wires":[]},{"id":"5d7c1de4.030eb4","type":"ui_switch","z":"ee2a40c5.e238a","name":"","label":"Run1","group":"9f936973.8aff48","order":0,"width":0,"height":0,"passthru":false,"topic":"HomeAutomation/Sprinkler/Command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":531,"y":141,"wires":[["a8ad5914.07cfe8"]]},{"id":"1249251c.2661db","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/Sprinkler/Run1","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":153,"y":140,"wires":[["29a7fe65.808f12"]]},{"id":"2020e68f.48647a","type":"ui_switch","z":"ee2a40c5.e238a","name":"","label":"Run2","group":"9f936973.8aff48","order":0,"width":0,"height":0,"passthru":false,"topic":"HomeAutomation/Sprinkler/Command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":189,"wires":[["1e8fb47c.9f180c"]]},{"id":"7c214808.e22fb8","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/Sprinkler/Run2","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":152,"y":189,"wires":[["7c5a203.8ac3fe"]]},{"id":"144d0c67.1e7de4","type":"ui_switch","z":"ee2a40c5.e238a","name":"","label":"Run3","group":"9f936973.8aff48","order":0,"width":0,"height":0,"passthru":false,"topic":"HomeAutomation/Sprinkler/Command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":532,"y":237,"wires":[["f6e2350b.ea5988"]]},{"id":"93f6198a.948988","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/Sprinkler/Run3","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":152,"y":237,"wires":[["ad42283c.fee698"]]},{"id":"ae8201ad.1f40c","type":"ui_switch","z":"ee2a40c5.e238a","name":"","label":"Run4","group":"9f936973.8aff48","order":0,"width":0,"height":0,"passthru":false,"topic":"HomeAutomation/Sprinkler/Command","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":529,"y":284,"wires":[["c5b6135b.9dc39"]]},{"id":"b012f8a5.3a15c8","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/Sprinkler/Run4","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":150,"y":284,"wires":[["aafe5b05.c8aa58"]]},{"id":"a8ad5914.07cfe8","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n   return {topic:msg.topic, payload:'Run1On'}; } \n   \nif (msg.payload === false)  {\n   return {topic:msg.topic, payload:'Run1Off'}; } \n   \n","outputs":1,"noerr":0,"x":667,"y":141,"wires":[["acda9cc5.90718","a147ecce.fc6fe8"]]},{"id":"29a7fe65.808f12","type":"function","z":"ee2a40c5.e238a","name":"str to bool","func":"if (msg.payload == \"1\")  {\n   return {payload: true}; } \n   \nif (msg.payload == \"0\")  {\n   return {payload: false}; } \n   \n","outputs":1,"noerr":0,"x":395,"y":140,"wires":[["5d7c1de4.030eb4"]]},{"id":"7c5a203.8ac3fe","type":"function","z":"ee2a40c5.e238a","name":"str to bool","func":"if (msg.payload == \"1\")  {\n   return {payload: true}; } \n   \nif (msg.payload == \"0\")  {\n   return {payload: false}; } \n   \n","outputs":1,"noerr":0,"x":394,"y":189,"wires":[["2020e68f.48647a"]]},{"id":"ad42283c.fee698","type":"function","z":"ee2a40c5.e238a","name":"str to bool","func":"if (msg.payload == \"1\")  {\n   return {payload: true}; } \n   \nif (msg.payload == \"0\")  {\n   return {payload: false}; } \n   \n","outputs":1,"noerr":0,"x":394,"y":237,"wires":[["144d0c67.1e7de4"]]},{"id":"aafe5b05.c8aa58","type":"function","z":"ee2a40c5.e238a","name":"str to bool","func":"if (msg.payload == \"1\")  {\n   return {payload: true}; } \n   \nif (msg.payload == \"0\")  {\n   return {payload: false}; } \n   \n","outputs":1,"noerr":0,"x":392,"y":284,"wires":[["ae8201ad.1f40c"]]},{"id":"1e8fb47c.9f180c","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n   return {topic:msg.topic, payload:'Run2On'}; } \n   \nif (msg.payload === false)  {\n   return {topic:msg.topic, payload:'Run2Off'}; } \n   \n","outputs":1,"noerr":0,"x":667,"y":189,"wires":[["acda9cc5.90718","a147ecce.fc6fe8"]]},{"id":"f6e2350b.ea5988","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n   return {topic:msg.topic, payload:'Run3On'}; } \n   \nif (msg.payload === false)  {\n   return {topic:msg.topic, payload:'Run3Off'}; } \n   \n","outputs":1,"noerr":0,"x":667,"y":237,"wires":[["acda9cc5.90718","a147ecce.fc6fe8"]]},{"id":"c5b6135b.9dc39","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n   return {topic:msg.topic, payload:'Run4On'}; } \n   \nif (msg.payload === false)  {\n   return {topic:msg.topic, payload:'Run4Off'}; } \n   \n","outputs":1,"noerr":0,"x":666,"y":284,"wires":[["acda9cc5.90718","a147ecce.fc6fe8"]]},{"id":"4f143165.8114","type":"ui_text","z":"ee2a40c5.e238a","group":"9f936973.8aff48","order":0,"width":0,"height":0,"name":"","label":"Last Message","format":"{{msg.payload}}","layout":"row-spread","x":563,"y":340,"wires":[]},{"id":"46ccc06a.cc24e","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/Sprinkler/#","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":140,"y":340,"wires":[["c9049715.731298"]]},{"id":"c9049715.731298","type":"function","z":"ee2a40c5.e238a","name":"str to bool","func":"return{payload: msg.topic + \"=\" + msg.payload};\n   \n\n","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["4f143165.8114"]]},{"id":"d39dc25e.33de4","type":"inject","z":"ee2a40c5.e238a","name":"On 1","topic":"HomeAutomation/Sprinkler/Command","payload":"true","payloadType":"bool","repeat":"","crontab":"05 00 * * 1,4","once":false,"onceDelay":"","x":90,"y":420,"wires":[["56d4149c.36803c"]]},{"id":"dfcd8fdb.716af","type":"inject","z":"ee2a40c5.e238a","name":"Off 1","topic":"Sprinkler/","payload":"false","payloadType":"bool","repeat":"","crontab":"40 00 * * 1,4","once":false,"onceDelay":"","x":90,"y":460,"wires":[["8b5d378f.d05e08","9677a288.cd65f","51fc0fca.7736f","10ff29db.c9ca36"]]},{"id":"39a1039f.699dac","type":"debug","z":"ee2a40c5.e238a","name":"Debug","active":false,"console":"false","complete":"payload","x":784,"y":485,"wires":[]},{"id":"cb9c3621.22fa58","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n    return {topic: msg.topic, payload:'Run1On'};\n    }\nif (msg.payload === false)  {\n    return {topic: msg.topic, payload:'Run1Off'};\n    }","outputs":"1","noerr":0,"x":560,"y":420,"wires":[["39a1039f.699dac","acda9cc5.90718"]]},{"id":"43164be0.01cff4","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n    return {topic: msg.topic, payload:'Run2On'};\n    }\nif (msg.payload === false)  {\n    return {topic: msg.topic, payload:'Run2Off'};\n    }","outputs":"1","noerr":0,"x":560,"y":460,"wires":[["acda9cc5.90718","39a1039f.699dac"]]},{"id":"6372573d.1df388","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n    return {topic: msg.topic, payload:'Run3On'};\n    }\nif (msg.payload === false)  {\n    return {topic: msg.topic, payload:'Run3Off'};\n    }","outputs":"1","noerr":0,"x":560,"y":500,"wires":[["acda9cc5.90718","39a1039f.699dac"]]},{"id":"518ea93e.b418a8","type":"function","z":"ee2a40c5.e238a","name":"bool to str","func":"if (msg.payload === true)  {\n    return {topic: msg.topic, payload:'Run4On'};\n    }\nif (msg.payload === false)  {\n    return {topic: msg.topic, payload:'Run4Off'};\n    }","outputs":"1","noerr":0,"x":560,"y":540,"wires":[["39a1039f.699dac"]]},{"id":"8b5d378f.d05e08","type":"delay","z":"ee2a40c5.e238a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":420,"wires":[["cb9c3621.22fa58"]]},{"id":"9677a288.cd65f","type":"delay","z":"ee2a40c5.e238a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":460,"wires":[["43164be0.01cff4"]]},{"id":"51fc0fca.7736f","type":"delay","z":"ee2a40c5.e238a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":500,"wires":[["6372573d.1df388"]]},{"id":"10ff29db.c9ca36","type":"delay","z":"ee2a40c5.e238a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":540,"wires":[["518ea93e.b418a8"]]},{"id":"f5e4d099.0078d","type":"ui_switch","z":"ee2a40c5.e238a","name":"","label":"Schedule Enable","group":"9f936973.8aff48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"state","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":620,"wires":[["56d4149c.36803c"]]},{"id":"56d4149c.36803c","type":"function","z":"ee2a40c5.e238a","name":"Enabled","func":"\nif (msg.topic == \"state\") {\n\tcontext.state = msg.payload;\n\treturn null;\n}\nif (context.state == 1)\n  return {topic: msg.topic, payload:msg.payload};\nelse\n  return null;\n ","outputs":1,"noerr":0,"x":160,"y":540,"wires":[["8b5d378f.d05e08","9677a288.cd65f","51fc0fca.7736f","10ff29db.c9ca36"]]},{"id":"39d949df.a80a16","type":"mqtt in","z":"eb2eb11a.00043","name":"","topic":"HomeAutomation/ClickerRemote/Data/Button1","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":210,"y":60,"wires":[["b973ac15.3fe1d","c46e1af0.f88ac8"]]},{"id":"b973ac15.3fe1d","type":"debug","z":"eb2eb11a.00043","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":100,"wires":[]},{"id":"c46e1af0.f88ac8","type":"function","z":"eb2eb11a.00043","name":"","func":"if (msg.payload == 1)\n{\n  msg.payload = \"toggle\";\n  msg.topic = \"HomeAutomation/GarageDoor/Command\";  \n  return msg;\n}\n","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["f55ffaa4.4df7d"]]},{"id":"a43efae9.e37cd8","type":"ui_text","z":"eb2eb11a.00043","group":"bba53862.7e67f","order":0,"width":0,"height":0,"name":"","label":"Garage Status","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":440,"wires":[]},{"id":"29f8124f.84f9d6","type":"ui_button","z":"eb2eb11a.00043","name":"","group":"bba53862.7e67f","order":0,"width":0,"height":0,"passthru":false,"label":"Open Garage","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"HomeAutomation/GarageDoor/Command","x":140,"y":340,"wires":[["a9bba3a9.6aa6d","83a6b77f.81eb9"]]},{"id":"a9bba3a9.6aa6d","type":"mqtt out","z":"eb2eb11a.00043","name":"","topic":"","qos":"0","retain":"false","broker":"93eaf66c.c40c28","x":490,"y":380,"wires":[]},{"id":"83a6b77f.81eb9","type":"debug","z":"eb2eb11a.00043","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":340,"wires":[]},{"id":"b4cb88c3.df4b68","type":"ui_button","z":"eb2eb11a.00043","name":"","group":"bba53862.7e67f","order":0,"width":0,"height":0,"passthru":false,"label":"Close Garage","color":"","bgcolor":"","icon":"","payload":"close","payloadType":"str","topic":"HomeAutomation/GarageDoor/Command","x":140,"y":380,"wires":[["83a6b77f.81eb9","a9bba3a9.6aa6d"]]},{"id":"101da377.72194d","type":"mqtt in","z":"eb2eb11a.00043","name":"","topic":"garagedoor/data","qos":"2","datatype":"auto","broker":"93eaf66c.c40c28","x":140,"y":440,"wires":[["a43efae9.e37cd8"]]},{"id":"8d3647c3.914b9","type":"ui_button","z":"eb2eb11a.00043","name":"","group":"56f5370d.f7eb3","order":0,"width":0,"height":0,"passthru":false,"label":"Gate Toggle","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"HomeAutomation/Gate/Command","x":150,"y":500,"wires":[["daf53a4c.69a6c8","2eb73779.be69c"]]},{"id":"daf53a4c.69a6c8","type":"mqtt out","z":"eb2eb11a.00043","name":"","topic":"","qos":"0","retain":"false","broker":"93eaf66c.c40c28","x":490,"y":540,"wires":[]},{"id":"2eb73779.be69c","type":"debug","z":"eb2eb11a.00043","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":500,"wires":[]},{"id":"a147ecce.fc6fe8","type":"debug","z":"ee2a40c5.e238a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":200,"wires":[]},{"id":"cc7aea52.f2d62","type":"mqtt in","z":"eb2eb11a.00043","name":"","topic":"HomeAutomation/ClickerRemote/Data/Button2","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":210,"y":120,"wires":[["2a3eb2c0.76ce86","b973ac15.3fe1d"]]},{"id":"f55ffaa4.4df7d","type":"mqtt out","z":"eb2eb11a.00043","name":"","topic":"","qos":"0","retain":"false","broker":"93eaf66c.c40c28","x":710,"y":160,"wires":[]},{"id":"2a3eb2c0.76ce86","type":"function","z":"eb2eb11a.00043","name":"","func":"if (msg.payload == 1)\n{\n  msg.payload = \"toggle\";\n  msg.topic = \"HomeAutomation/GarageDoor/Command\";  \n  return msg;  \n}\n","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["f55ffaa4.4df7d"]]},{"id":"9aa733c6.9315e8","type":"mqtt in","z":"eb2eb11a.00043","name":"","topic":"HomeAutomation/ClickerRemote/Data/Button3","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":210,"y":180,"wires":[["ab46ba08.13661","b973ac15.3fe1d"]]},{"id":"ab46ba08.13661","type":"function","z":"eb2eb11a.00043","name":"","func":"if (msg.payload == 1)\n{\n    var msg1 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run1On\"}; \n    var msg2 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run2On\"};     \n    var msg3 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run3On\"}; \n    return [[msg1, msg2, msg3]];  \n}\n","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["f55ffaa4.4df7d"]]},{"id":"18155381.8440e4","type":"mqtt in","z":"eb2eb11a.00043","name":"","topic":"HomeAutomation/ClickerRemote/Data/Button4","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":210,"y":240,"wires":[["7679f2e2.a11014","b973ac15.3fe1d"]]},{"id":"7679f2e2.a11014","type":"function","z":"eb2eb11a.00043","name":"","func":"if (msg.payload == 1)\n{\n    var msg1 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run1Off\"}; \n    var msg2 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run2Off\"};     \n    var msg3 = {topic:\"HomeAutomation/Sprinkler/Command\", payload:\"Run3Off\"}; \n    return [[msg1, msg2, msg3]];  \n}\n","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["f55ffaa4.4df7d"]]},{"id":"c026a5a.515c058","type":"debug","z":"ee2a40c5.e238a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":40,"wires":[]},{"id":"da9be64c.3984d8","type":"mqtt in","z":"ee2a40c5.e238a","name":"","topic":"HomeAutomation/#","qos":"0","datatype":"auto","broker":"93eaf66c.c40c28","x":110,"y":80,"wires":[["ea714f30.b8b98"]]},{"id":"ea714f30.b8b98","type":"debug","z":"ee2a40c5.e238a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":80,"wires":[]}]